<!DOCTYPE html>

<html ng-app="">
<head>
<title>AngularJs $http.get() Service</title>
<meta charset="utf-8">
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-toarrayfilter/toArrayFilter.js"></script>

<script src="controller.js"></script>
</head>

<body >
<div>

	<h1>Lista de ZipCode</h1>
  <p>{{count}}</p>
	<p>{{hola}}</p>
  
  <!--Seleccionar zip code 
  <p>Select ZipCode</p>
					<span ng-repeat="radio in radios">
					  <input
						type="radio"
						name="radio"
						value="{$ radio $}"
						id="radio{$ radio.name $}"
						ng-checked="radio.name == 1"
						ng-model="$parent.selectedRadio"
					  />
					  <label for="radio{$ radio.name $}"
						>{$ radio.display_name $}</label
					  >
					</span>
        -->
</div>
</body>
</html>
